*{
    margin: 0px;
    padding: 0px;
}

#cuerpo{
    width: 1366px;
    height: 768px;
    margin: 0px;
}

header{
    display: flex;
    width: 1330px;
    height: 60px;
    padding: 15px;
    justify-content: space-between;
    background-color: #278A2B;
    align-items: center;
    border-radius: 10px;
}

.logo{
    display: flex;
    align-items: center;


}

.logo img{
    height: 90px;
    margin-right: 10px;

}

a{
    margin: 1px;
    padding: 1px 2px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 600px;
}

h2{
    color: #FFFFFF;


}
nav  a:hover{
    color: aqua;
}

.nav1{
    padding: 10px 0px;
    color: #FFFFFF;

}

a button{
    border: 2px solid rgb(2, 153, 2);
    background-color: rgb(159, 247, 159);
    width: 110px;
    margin: 3px;
    padding: 2px;
    border-radius: 20px;
    box-shadow: #000000 5px 5px 10px;

}

#sec1{
    max-width: 1330px;
    height: 768px;
    margin: 0px;
    background-color: rgb(159, 247, 159);
    float: left;
    margin: 1px 15px;
    border-radius: 10px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    min-width: 200px;
}

#a1{
    color: blue;
}
#vid1{
    width: 650px;
    height: 380px;
    margin-left: auto;
    margin-right: auto;
    display: block
}

#asi1{
    max-width: 650px;
    height: 750px;
    float: left;
    border-radius: 20px;
    background-color: rgb(159, 247, 159);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

#foo1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1330px;
    height: 160px;
    float: left;
    background-color: #278A2B;
    border-radius: 10px;
    margin: 10px 5px 5px 15px;


}

#h31{
    text-align: center;
    padding: 8px;
}
#p7{
    text-align: center;
}

#h32{
    text-align: center;
}

.vid1{
    margin: 0px 5px 0px px;
    width: 900px;
}

#img1{
    width: 570px;
    height: 310px;
    border-radius: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block

}
.img2{
    width: 570px;
    height: 330px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;

}

#div3{
    max-width: 480px;
    height: 160px;
    float: left;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    min-width: 160px;
}


#div4{
    max-width: 300px;
    height: 160px;
    float: left;
    display: flex;
    align-items: center;

}
#img4{
    max-width: 160px;
    height: 155px;
    padding: 2px;
    float: left;
    min-width: 30px;
}
#img5{
    width: 60px;
    height: 45px;
    position: absolute;
    top: 879px;
    left: 1510px;
}
#img6{
    width: 60px;
    height: 45px;
    position: absolute;
    top: 930px;
    left: 1510px;
}
#img7{
    width: 60px;
    height: 45px;
    position: absolute;
    top: 981px;
    left: 1510px;
    border-radius: 10px;
}

#div5{
    max-width: 480px;
    height: 160px;
    float: left;
    color: #FFFFFF;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    min-width: 160px;
}
#img9{
    max-width: 350px;
    height: 155px;
    padding: 2px;

}
.h43{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    margin: 10px 5px 5px 15px;
}
#h39{
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 5px 5px 15px;
}
#div6{
    max-width: 2000px;
    height: 160px;
    float: left;
    color: #FFFFFF;
    justify-content: space-between;
}